 <div class="navbar-mihivai">
  <!-- Logo -->
    <a href="./">

      <%= image_tag 'logo_mhv.svg' %>

    </a>

    <div class="d-none d-md-block">
      <div class="d-flex align-items-center justify-content-between">
        <div>
        <p class="navbar-mihivai-item
          navbar-mihivai-contact">+ 33 6 18 23 73 31</p>
        </div>
        <a href="#team" class="navbar-mihivai-item navbar-mihivai-link">ÉQUIPE</a>
        <a href="#projects" class="navbar-mihivai-item navbar-mihivai-link">PROJETS</a>
        <a href="#teaching" class="navbar-mihivai-item navbar-mihivai-link">FORMATION</a>
        <a href="lab.html" class="navbar-mihivai-item navbar-mihivai-link button-lab">LAB</a>
      </div>
    </div>

    <div class="d-block d-md-none">
      <div class="navbar-dropdown">
        <input id="toggle" type="checkbox"/>
        <label class="hamburger" for="toggle">
          <div class="top"></div>
          <div class="meat"></div>
          <div class="bottom"></div>
        </label>

          <div class="nav">
            <div class="nav-wrapper">
              <nav class= "d-flex flex-column">
                <a href="file:///Users/derevel/code/constancederevel/mihivai.github.io/index-new.html" class="navbar-link">Accueil</a>
                <a href="#team" class="navbar-link">Équipe</a>
                <a href="#projects" class="navbar-link">Projets</a>
                <a href="#teaching" class="navbar-link">Formation</a>
                <a href="#teaching" class="navbar-link">Lab</a>
              </nav>
            </div>
          </div>
        </div>
      </div>
  </div>
